
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>生成sing-box配置</title>
    <link rel="icon" href="https://raw.githubusercontent.com/Toperlock/sing-box-subscribe/main/public/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css"/>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/gh/bigskysoftware/_hyperscript@0.9.5/dist/_hyperscript_w9y.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/htmx.org@1.9.10"></script>
    <script type="text/hyperscript">
      def add_subscription(container)
          set templ to #template.content.cloneNode(true)
          set item to templ.querySelector('.templated')
          put item at the end of container
    </script>
  </head>
  <body>
    <div class="container">
      <!--
      .left-box
        h1 Providers
        form#providers-form(method="POST" action="/update_providers")
          textarea( name="providers_data" rows="10" cols="40" ) {{ providers_data | safe }}
          
      -->
      <div class="right-box">
        <h1>Edit TEMP_JSON_DATA</h1>
        <div class="form-container">
          <form>
            <template id="template">
              <div class="templated">
                <label>URL
                  <input type="text" name="URL[]" placeholder="https://first-url/:https://second-url/..."/>
                </label>
                <label>Prefix
                  <input type="text" name="prefix[]" placeholder="❤️"/>
                </label>
                <label>Subgroup
                  <input type="text" name="subgroup[]" placeholder="named"/>
                </label>
                <label>User-Agent
                  <input type="text" name="User-Agent[]" value="v2rayng"/>
                </label>
                <div class="grid">
                  <label>Enable
                    <input type="checkbox" name="enabled[]" checked="checked"/>
                  </label>
                  <label>Emojis
                    <input type="checkbox" name="emojis[]"/>
                  </label>
                  <button class="remove secondary outline" type="button">remove</button>
                </div>
                <hl></hl>
              </div>
            </template>
            <div id="subscriptions" _="
              init call add_subscription(me) end
              on click if target matches .remove then tell closest &lt;.templated/&gt; to target remove yourself
            "></div>
            <button class="secondary" type="button" _="on click call add_subscription(#subscriptions)">+</button>
            <select name="template_index">{% for option in template_options %}
              <option value="{{ loop.index - 1 }}">{{ option }}</option>{% endfor %}
            </select>
            <button hx-post="/api2/edit_temp_json" hx-target="#config-text">Cache changes on server</button>
            <button hx-post="/api2/generate_config" hx-target="#config-text">Open generated config</button>
          </form>
        </div>
      </div>
      <div class="config-content">
        <output id="config-text"></output>
      </div>
    </div>{% with messages = get_flashed_messages() %} {% if messages %}
    <ul class="flashes">{% for message in messages %}
      <li>{{ message }}</li>{% endfor %}
    </ul>{% endif %} {% endwith %}
  </body>
</html>